<h1>{{pageName}}</h1>
<table id="t01" border="1">
    <thead>
        <tr>
            <th>Actors Name</th>
			<th>Series Name</th>
            <th>Episode Number</th>
        </tr>
    </thead>
    <tbody>
        {{#if rows.length }}
            {{#each rows }}
                <tr>
					<td>{{this.name}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.ep_num}}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
        {{/if}}
    </tbody>
</table>