<h1>{{pageName}}</h1>
<table id="t01" border="1">
    <thead>
        <tr>
            <th>Actor Name</th>
            <th>Actor ID</th>
            <th>Address</th>
			<th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {{#if rows.length }}
            {{#each rows }}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.aID}}</td>
                    <td>{{this.address}}</td>
					<td>{{this.phone_num}}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
        {{/if}}
    </tbody>
</table>