<h1>{{pageName}}</h1>
<table id="t01" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Initial Air Date</th>
			<th>Writers</th>
			<th>Number of Seasons</th>
			<th>End Date</th>
			<th>Network</th>
        </tr>
    </thead>
    <tbody>
        {{#if rows.length }}
            {{#each rows }}
                <tr>
                    <td>{{this.sID}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.init_air_date}}</td>
					<td>{{this.writers}}</td>
					<td>{{this.num_seasons}}</td>
					<td>{{this.end_date}}</td>
					<td>{{this.nName}}</td>
                </tr>
            {{/each}}
        {{else}}
            <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
        {{/if}}
    </tbody>
</table>